[Match]
Name=!lo

[Network]
DHCP=true
LinkLocalAddressing=fallback
LLDP=true
EmitLLDP=true
MulticastDNS=true
LLMNR=true

[DHCPv4]
UseDomains=true
UseMTU=true
