[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment="VIRTUAL_ENV=/ipa"
Environment="PATH=/ipa/bin:/usr/sbin:/usr/bin"
ExecStart=/ipa/bin/python3 /ipa/bin/ironic-python-agent

[Install]
WantedBy=multi-user.target
